spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/explainIt_db
    username: postgres
    password: abasthomas
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

flyway:
  enabled: true
  locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

spring:
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo
